.index, .recomendaciones{
    background-image: url("../images/indexreco.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}
.historia{
    background-image: url("../images/historia.jpg");    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;  
    
}
.foro {   
    background-image: url("../images/foro.jpg");    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;  

}
.index, .recomendaciones , .historia , .foro{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 4;
}
.indexText, .sideContent{
    text-align: justify;
}
.headerIndex, .header{
    justify-content: center;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 4;    
}
.botonMenu{       
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    max-height: 20px;
    height: 18px;
    grid-area: 2/1; 


}
.button-NavBar{
    background-color: darkorange;
    color: rgb(2, 36, 11);
    border-radius: 5px;
    font-size: 12px;    
}
.navBar{
    grid-area: 3/1;
}
.title{
    display: flex;
    justify-content: center;
    grid-area: 1/1;
    width: 100%;
}
h1{
    font-size: 80px;    
    text-transform: capitalize;
    color: rgb(77, 11, 11);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: goldenrod;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: 4/1;
}
.navItems{
    min-width: 100%;
    display: none;
    padding: 0px;
}
.showNav{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.boton-index ,.boton-recomendaciones, .boton-foro , .boton-historia{
    font-size: 20px;
    width: 200px;            
    font-family: 'lifecraft' , sans-serif;
    color: goldenrod;    
}
.boton-index ,.boton-recomendaciones{
    background-color: rgb(77, 11, 11);
    width: 100%;
}
.boton-foro , .boton-historia{
    background-color: rgb(33,33,155);
    width: 100%;
}
.formInicio{    
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    font-weight: bold;    
    font-size: 20px;      
    
}
.imputInicio{
    width: 100%;     
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
  }  


th,tr,td {
    border: 1px solid black;
    font-family: 'lifecraft' , sans-serif;
    
}
.hordetable{
    background-color: rgba(155, 20, 20, 0.747); 
    width: 50%;   
} 
.alliancetable{
    background-color: rgb(33, 33, 155);   
    width: 50%;
}
.pandaTable{
    background-color: white;
    width: 100%;
    margin-bottom: 60px;    
}
.tableHead,.table{
    background-color: white;
}
.tablaResaltada td{
    background-color: goldenrod;
}
/*.botonAdmin{
    display: none;
}
.botonesLocos {
    display: ruby;
}*/
.imagen-murloc{
    margin-top: 20px;
    width: 10%;
    height: 10%   
    
}
.murloc{
    max-width: 100%;
    max-height: 100%;
    opacity: 0.8;
}
.footer{
    width: 100%;
    height: 100%;
    background-color: black;
    border-style: double;
    border-color: goldenrod;
    opacity: 0.5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-family: 'lifecraft' , sans-serif;
    color: whitesmoke;
}
.footer-left {
    list-style: none;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    
}
.footer-right{
    list-style: none;
    margin-right: 30px;
}
p{
    font-size: 20px;
    text-decoration: black;
    color: black;
    font-weight: bold;
}
.inputsEditar{
    display:none;
}
@media only screen and (min-width: 600px) { 
.index, .recomendaciones, .historia, .foro {
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer" ;
}
header { grid-area: header; }
.content { grid-area: content;}
footer { grid-area: footer; }

.index, .recomendaciones{
    background-image: url("../images/indexreco.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;  

}
.historia{
    background-image: url("../images/historia.jpg");    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}
.foro {   
    background-image: url("../images/foro.jpg");    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 

}

.headerIndex {
    display: flex;
    flex-direction: row;
}
.header{
    display: flex;
    flex-direction: row;

}

.navBar { 
    display: block;    
    width: 100%;
    height: 80px;
    background-color:black;
    border-style: groove;
    border-color: goldenrod;
    opacity: 0.8;  
    position: static;
    position: fixed; 
    left: 0%;
    right: 0%;
    top: 0%;    
    grid-area: 1/1; 
        
}
.button-NavBar{
    display: none;
}

.navItems {     
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 18px;      

}    

.boton-index ,.boton-recomendaciones, .boton-foro , .boton-historia{
    font-size: 20px;
    width: 200px;           
    font-family: 'lifecraft' , sans-serif;
    color: goldenrod;    
}
.boton-index ,.boton-recomendaciones{
    background-color: rgb(77, 11, 11);
}
.boton-foro , .boton-historia{
    background-color: rgb(33,33,155);
}   

.title {  
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 80px;         
    text-transform: capitalize;
    color: rgb(77, 11, 11);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: goldenrod;
}

h2{
    font-size: 50px;
    
}         

.login{ 
      
    margin-top: 90px;
    margin-bottom: 80px; 
    display: flex;
    flex-direction: column;
    max-height: 300px;
    width: 200px;
    max-width: 280px;
    
}

.imputCaptcha{
   display: flex;
   flex-direction: row;
}

.formCaptcha{
    width: 97px;
    margin-top: 10px;
}

.boton-Captcha{
    margin-top: 10px;
    width: 36%;
    height: 30px;
    background-color: rgb(77, 11, 11);
    font-family: 'lifecraft' , sans-serif;
    color: goldenrod;
}

#verificationResult{
    font-size: 20px;
}

#captcha{
    display: flex;
    flex-direction: row;
    width: 13,1%;
    font-size: 20px;
}
.imputInicio{
    width: 100%;  
    display: block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
} 

.indexText, .sideContent{
    text-align: justify;
    margin : 15px;
}
.btn-publicar, .boton-verify, .boton-submit{
    background-color: rgb(77, 11, 11);
    font-family: 'lifecraft' , sans-serif;
    color: goldenrod;
    width: 80px;
    height: 30px;
}

th,tr,td {
    border: 1px solid black;
    font-family: 'lifecraft' , sans-serif;    
}

.tableContent{
    display: flex;
    flex-direction: row;
}

.hordetable{
    background-color: rgba(155, 20, 20, 0.747); 
    width: 50%;   
} 
.alliancetable{
    background-color: rgb(33, 33, 155);   
    width: 50%;
}
.pandaTable{
    background-color: white;
    width: 100%;
    margin-bottom: 60px;    
}

.imagen-murloc{
    margin-top: 20px;
    width: 10%;
    height: 10%   
    
}
.murloc{
    max-width: 100%;
    max-height: 100%;
    opacity: 0.8;
}
.footer {
    width: 100%;
    height: 70px;
    background-color: black;
    border-style: double;
    border-color: goldenrod;
    opacity: 0.5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-family: 'lifecraft' , sans-serif;
    color: whitesmoke;
    
    
}
.footer-left {
    list-style: none;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    
}
.footer-right{
    list-style: none;
    margin-right: 30px;
}

.footer-item {
    margin-left: 20px;
}

.tableHead,.table{
    background-color: white;
    
}
.tablaResaltada td{
    background-color: goldenrod;
}
/*.botonAdmin{
    display: none;
}
.botonesLocos {
    display: ruby;
}*/
.buttonrow-Borrar{
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;    
}
.buttonrow-Editar{
    background-color: white;
    width: 100%;
    height: 100%;
    color:black;
}

}
    




